.mainBody {
  background-color: #3b3b3b;
  /* width: 1256px; */
  /* height: 781px; */
}
.maincontent {
  background-color: #626262;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.secondContent {
  display: flex;
  justify-content: space-around;
}
