.expbody1 {
  width: 355.41px;
  height: 181px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  line-height: 40px;
}
.Button1 {
  background: linear-gradient(
    to top,
    rgba(181, 220, 82, 1),
    rgba(137, 225, 72, 1)
  );
  width: 167.65px;
  height: 38px;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 700px;
}
